<div class="container bg-escuro-100">

  <div class="row flex flex-wrap justify-around">

    <div class="cardAgenda mb-12  rounded-tr-3xl rounded-bl-3xl bg-claro-100">
      <div class="col-md-6 flex -mt-10 justify-items-center">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987527601276993556/unknown.png" alt="">
      </div>
      <div class="flex-col text-escuro-100">
        <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
        <span class="mx-2 text-sm font-bold">R$ 500,00</span>
        <div class="flex justify-center">
          <button class="btn rounded-full text-xs text-claro-100">Agendar horário</button>
        </div>
      </div>
    </div>

    <div class=" cardAgenda mb-12 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
      <div class="col-md-6 flex -mt-10">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987527651843514488/unknown.png"
          alt="">
      </div>
      <div class="flex-col text-escuro-100">
        <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
        <span class="mx-2 text-sm font-bold">R$ 500,00</span>
        <div class="flex justify-center">
          <button class="btn rounded-full text-xs text-claro-100">Agendar horário</button>
        </div>
      </div>
    </div>

    <div class=" cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
      <div class="col-md-6 flex -mt-10">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987532099470884914/unknown.png"
          alt="">
      </div>
      <div class="flex-col text-escuro-100">
        <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
        <span class="mx-2 text-sm font-bold">R$ 500,00</span>
        <div class="flex justify-center">
          <button class="btn rounded-full text-xs text-claro-100">Agendar horário</button>
        </div>
      </div>
    </div>

    <div class=" cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
      <div class="col-md-6 flex -mt-10">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987532131515392011/unknown.png"
          alt="">
      </div>
      <div class="flex-col text-escuro-100">
        <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
        <span class="mx-2 text-sm font-bold">R$ 500,00</span>
        <div class="flex justify-center">
          <button class="btn rounded-full text-xs text-claro-100">Agendar horário</button>
        </div>
      </div>
    </div>

  </div>
  <div class=" text-claro-100 flex  justify-center pb-8">
    <a>
      <h1>
        Ver todos
      </h1>
    </a>
  </div>


</div>