<div class="container bg-amber-900">

  <div class="row flex">
  <div class=" cardAgenda  rounded-tr-3xl rounded-bl-3xl bg-orange-100  m-3">
    <div class="col-md-6 flex top-0 overflow-visible">
      <img class=""
        src="https://cdn.discordapp.com/attachments/986341389740691466/986394734480228423/unknown.png" alt="">
    </div>
    <div class="flex justify-center">
      <button class="btn rounded-full text-sm">Agendar horário<i class="fa-solid fa-circle-chevron-right pl-1"></i></button>
    </div>
  </div>

  <div class=" cardAgenda  rounded-tr-3xl rounded-bl-3xl bg-orange-100  m-3">
    <div class="col-md-6 flex top-0 overflow-visible">
      <img class=""
        src="https://cdn.discordapp.com/attachments/986341389740691466/986402789754290186/unknown.png" alt="">
    </div>
    <div class="flex justify-center">
      <button class="btn rounded-full text-sm">Agendar horário<i class="fa-solid fa-circle-chevron-right pl-1"></i></button>
    </div>
  </div>
</div>

  <div class=" text-white flex  justify-center">
    <a href="">
      <h1>
        Ver todos
        <i class="fa-solid fa-circle-chevron-right pl-2"></i>
      </h1>
    </a>
  </div>

</div>