<div class="container bg-escuro-100 p-5">
  <div class=" flex-col justify-items-center pb-5">

    <div class="text-center italic font-normal text-claro-100">
      <h1 class="text-3xl">Alguma dúvida?</h1>
      <span class="text-base">Entre em contato conosco</span>
    </div>
  </div>
<div class="row flex justify-between mb-6">
  <a >
    <img src="https://cdn.discordapp.com/attachments/986341389740691466/987473777833168946/unknown.png" alt="">
  </a>
  <a>
    <img src="https://cdn.discordapp.com/attachments/986341389740691466/987473835290931300/unknown.png" alt="">
  </a>
  <a>
    <img src="https://cdn.discordapp.com/attachments/986341389740691466/987473868555948032/unknown.png" alt="">
  </a>



    </div>
  </div>
