<div class="container bg-amber-900 p-5">
  <div class=" flex-col justify-items-center ">
    <div class="text-center text-white">
      <h1>Alguma dúvida?</h1>
      <span>Entre em contato conosco</span>
      <p><i class="fa-solid fa-circle-chevron-down"></i></p>
    </div>

      <a href="">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987473777833168946/unknown.png" alt="">
      </a>
      <a href="">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987473835290931300/unknown.png" alt="">
      </a>
      <a href="">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987473868555948032/unknown.png" alt="">
      </a>

    </div>
  </div>
