<div class="container bg-escuro-100 p-5">
  <div class=" flex-col justify-items-center pb-5">

    <div class="text-center italic font-normal text-claro-100">
      <h1 class="text-3xl">Alguma dúvida?</h1>
      <span class="text-base">Entre em contato conosco</span>
    </div>
  </div>
  <div class="row flex justify-between mb-6 text-center text-claro-100 italic sm:justify-around md:justify-around">
    <a href="mailto:igor.ox13@gmail.com" target="_blank">
      <img class="mb-1" src="https://cdn.discordapp.com/attachments/986341389740691466/987920344671211540/unknown.png" alt="">
      Email
    </a>
    <a href="https://www.linkedin.com/in/igorss4/" target="_blank">
      <img class="mb-1" src="https://cdn.discordapp.com/attachments/986341389740691466/987920405211791442/unknown.png" alt="">
      Instagram
    </a>
    <a href="https://github.com/Igorss4" target="_blank">
      <img class="mb-1" src="https://cdn.discordapp.com/attachments/986341389740691466/987920477743902770/unknown.png" alt="">
      WhatsApp
    </a>
  </div>
</div>