<div class="container pt-12 bg-medio-100">
  <div class="flex-col ">
    <div class="text-center">
      <h1 class="text-escuro-100 text-3xl font-bold p-1">Carolina Silva</h1>
      <h2 class="text-escuro-100 text-lg font-medium pb-5">Fundadora</h2>
      <p class="text-claro-100 text-xs px-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <p class="text-claro-100 text-xs p-8">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="flex justify-center py-6">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987533878581411850/unknown.png" alt="">
      </div>
    </div>
  </div>
</div>