<div class="container bg-orange-600">
  <div class="flex-col pt-12">
    <div class="text-center">
      <h1 class="text-amber-900 text-2xl font-semibold p-1">Carolina Silva</h1>
      <h2 class="text-amber-900 text-lg font-medium pb-5">Fundadora</h2>
      <p class="text-white text-sm p-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <p class="text-white text-sm p-2">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="flex justify-center py-8">
        <img class="w-52 h-72"
          src="https://cdn.discordapp.com/attachments/986341389740691466/986405950019731476/unknown.png" alt="">
      </div>
    </div>
  </div>
</div>