<div class="container py-12 bg-medio-100">
  <div class="flex flex-col sm:flex sm:flex-row-reverse sm:justify-around sm:items-center">

    <div class="col-md-6 flex flex-col text-center sm:w-64 sm:h-auto sm:text-left md:w-96 lg:w-96">
      <h1 class="text-escuro-100 text-3xl font-bold p-1 sm:p-0 sm:text-4xl lg:text-5xl">Carolina Silva</h1>
      <h2 class="text-escuro-100 text-lg font-medium pb-5 sm:text-xl lg:text-2xl">Fundadora</h2>
      <p class="text-claro-100 text-xs px-8 sm:px-0 sm:text-sm lg:text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <p class="text-claro-100 text-xs p-8 sm:px-0 sm:py-3 sm:text-sm lg:text-base">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-md-6">
      <div class="flex justify-center py-6">
        <img src="https://cdn.discordapp.com/attachments/986341389740691466/987533878581411850/unknown.png" alt="">
      </div>
    </div>

  </div>
</div>
