<nav class="container flex justify-between px-4 py-8 mx-auto bg-amber-900">
  <div>
    <img class="w-18 h-12" src="https://cdn.discordapp.com/attachments/986341389740691466/986341402852081694/unknown.png" alt="Logo da Lanchoneteria">
  </div>
  <div class="hidden space-x-8 lg:flex">
    <a href="#">Menu 1</a>
    <a href="#">Menu 2</a>
    <a href="#">Menu 3</a>
    <a href="#">Menu 4</a>
  </div>
  <div class="flex lg:hidden">
    <a href="">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-16 h-12 text-white"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </a>
  </div>
</nav>
