<div class=" bg-claro-100 p-7 w-full">
  <div class=" text-center py-8">
    <h1 class="text-escuro-100 text-2xl font-medium py-7 italic sm:text-4xl lg:text-5xl">Equipe especializada <br> em cuidar de você!</h1>
  </div>
  <div class="flex flex-col sm:grid sm:grid-cols-2 ">
    <div class="col-md-12">

      <div class="container flex pl-2 sm:justify-center">
        <div class="h-24 w-52 rounded-tr-3xl bg-escuro-100 m-4 flex items-center justify-start">
          <div class="-ml-9">
            <img src="https://cdn.discordapp.com/attachments/986341389740691466/987429202221486080/unknown.png" alt="">
          </div>
          <div class="m-1 text-medio-100 text-center">
            <span class="text-base font-bold">Juliana Pereira<br>
              <span class="text-sm font-medium">Cabeleireira</span>
            </span>
            <br><span class="text-xs text-claro-100">Cabelos cacheados</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12  flex justify-end pr-2 sm:justify-center">
      <div class="">
        <div class="h-24 w-52 rounded-tl-3xl bg-medio-100 m-4 flex items-center justify-end">
          <div class="m-1 text-escuro-100 text-center">
            <span class="text-base font-bold ">Eduarda Rocha<br>
              <span class="text-sm font-medium">Manicure</span>
            </span>
            <br><span class="text-xs text-claro-100">Especialista em cores</span>
          </div>
          <div class="-mr-9 ">
            <img class="" src="https://cdn.discordapp.com/attachments/986341389740691466/987435610774057020/unknown.png"
              alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 flex pl-2 sm:justify-center">
      <div class="">
        <div class="h-24 w-52 rounded-br-3xl bg-escuro-100 m-4 flex items-center justify-start sm:bg-medio-100">
          <div class="-ml-9 ">
            <img src="https://cdn.discordapp.com/attachments/986341389740691466/987435646916370523/unknown.png" alt="">
          </div>
          <div class="m-1 text-medio-100 text-center sm:text-escuro-100">
            <span class="text-base font-bold ">Mari Barbosa<br>
              <span class="text-sm font-medium">Esteticista</span>
            </span>
            <br><span class="text-xs text-claro-100">Massagem corporal</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 flex justify-end pr-2 sm:justify-center ">
      <div class="">
        <div class="h-24 w-52 rounded-bl-3xl bg-medio-100 m-4 flex items-center justify-end sm:bg-escuro-100">
          <div class="m-1 text-escuro-100 text-center sm:text-medio-100 ">
            <span class="text-base font-bold ">Laura Santos<br>
              <span class="text-sm font-medium">Cabeleireira</span>
            </span>
            <br><span class="text-xs text-claro-100">Cabelos lisos</span>
          </div>
          <div class="-mr-9">
            <img src="https://cdn.discordapp.com/attachments/986341389740691466/987435680902840450/unknown.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="flex justify-center items-center mt-14 mb-8">
      <button class="btn rounded-full text-sm text-claro-100">Agendar horário</button>
    </div>

</div>