<div class="container bg-escuro-100 py-5 m-0">
  <div class=" flex-col ">
    <h1 class="w-80 h-20 text-claro-100 text-4xl mb-3 mx-10 italic font-normal">Beleza em cada <br> dia de sua vida.</h1>
    <p class="text-claro-100 text-xs mx-11">
      Lorem ipsum at met your bug sit siystem of a <br>down to the  sunset
      a web profile.
    </p>
    <button class="btn m-3 mb-5 rounded-full text-sm">Agendar horário</button>
    <img class="imgMarca " src="https://cdn.discordapp.com/attachments/986341389740691466/986372771368038550/unknown.png" alt="imgMarca">
  </div>
</div>


