<div class="container flex bg-escuro-100 py-5 m-0 ">
  <div class="flex flex-col sm:flex-row-reverse md:flex-row-reverse">
    <div class="col-md-6">
      <h1 class="w-80 h-20 text-claro-100 text-4xl mb-3 mx-6 italic font-normal sm:mb-2 sm: sm:w-auto sm:h-auto sm:text-4xl md:w-96 md:h-28 md:text-5xl">Beleza em cada <br> dia de sua vida.
      </h1>
      <p class="text-claro-100 text-sm mx-6 sm:mb-2 md:mb-2">
        Lorem ipsum at met your bug sit siystem of a <br class="sm:hidden md:hidden">down to the sunset
        a web profile.
      </p>
      <button class="btn ml-6 m-3 mb-5 rounded-full text-xs">Agendar horário</button>

    </div>
    <div class="col-md-6 sm:flex sm:imgMarcaMd sm:-mt-28 md:flex md:imgMarcaMd md:-mt-28">
      <img class="imgMarca"
        src="https://cdn.discordapp.com/attachments/986341389740691466/986372771368038550/unknown.png" alt="imgMarca">
    </div>
  </div>


  <button (click)="scroll()" class="w-6 h-6 rounded-full bg-medio-50 text-center fixed bottom-10 right-5"><img
      src="../../assets/img/circle-chevron-up-solid.svg" alt=""></button>
</div>