<nav class=" px-5 py-8 bg-escuro-100 w-full">
  <div class="row flex justify-between">
    <div class="col-md-6">
      <img class="w-18 h-12 sm:absolute"
        src="https://cdn.discordapp.com/attachments/986341389740691466/986341402852081694/unknown.png"
        alt="Logo do estabelecimento">
    </div>

    <div class="col-md-6 flex  sm:row">
      <button class="sm:hidden" data-collapse-toggle="mobile-menu" type="button" aria-controls="mobile-menu"
        aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-12 text-claro-100" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

      <div class="flex justify-end sm:mr-10">
        <div
          class="hidden mt-12 -mr-2 w-24 h-42 bg-escuro-100 rounded-2xl border-2 border-claro-100 absolute sm:bg-transparent sm:relative sm:flex sm:-m-0 sm:justify-end sm:border-0 sm:h-auto sm:w-full"
          id="mobile-menu">
          <ul class="flex-col text-center sm:flex sm:flex-row sm:justify-end">
            <li class="">
              <a class="block py-2 pr-4 pl-3 rounded-2xl text-claro-100 hover:bg-escuro-200 "
                aria-current="page">Serviços</a>
            </li>
            <li>
              <a class="block  py-2 pr-4 pl-3 rounded-2xl text-claro-100  hover:bg-escuro-200">Sobre</a>
            </li>
            <li>
              <a class="block py-2 pr-4 pl-3 rounded-2xl text-claro-100 hover:bg-escuro-200 ">Contato</a>
            </li>
            <li class="">
              <a href="#"
                class="block py-2 pr-4 pl-3 rounded-2xl text-claro-100  hover:bg-escuro-200  sm:flex sm:border-2 sm:border-medio-100 sm:rounded-full sm:px-6 sm:py-1 sm:text-medio-100  ">Horários</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- inicial -->

<div class=" flex bg-escuro-100 py-5 m-0 w-full ">
  <div class="flex flex-col sm:flex-row-reverse">
    <div class="col-md-6 grid grid-cols-1">
      <div class="flex flex-col w-64">
        <h1
          class="w-auto h-auto text-claro-100 text-3xl mb-3 mx-6 italic font-normal sm:mb-2 sm:w-56 sm:h-auto sm:text-3xl md:w-96 md:text-5xl">
          Beleza em cada <br> dia de sua vida.
        </h1>
        <p class="text-claro-100 text-sm mx-6 sm:mb-2 md:w-72 ">
          Lorem ipsum at met your bug sit siystem of a <br class="sm:hidden">down to the sunset
          a web profile.
        </p>
        <button class="btn ml-6 m-3 mb-5 rounded-full text-xs ">Agendar horário</button>
      </div>

    </div>
    <div class="col-md-6 sm:block sm:-mt-28">
      <img class="w-[357px] h-[368px] sm:w-[842] sm:h-[968]"
        src="https://cdn.discordapp.com/attachments/986341389740691466/986372771368038550/unknown.png" alt="imgMarca">
    </div>
  </div>
  <button class="w-6 h-6 rounded-full bg-medio-50 text-center fixed bottom-10 right-5"><img
      src="../../assets/img/circle-chevron-up-solid.svg" alt=""></button>
</div>

<!-- card agendamento -->

<div class=" bg-escuro-100 w-full">
  <div class="flex justify-center">
    <div
      class="flex flex-wrap justify-around  sm:grid sm:grid-cols-3 sm:justify-items-center md:grid-cols-4 lg:inline-grid lg:gap-8">

      <div class="cardAgenda mb-12 rounded-tr-3xl rounded-bl-3xl bg-claro-100 sm:mx-2">
        <div class="col-md-6 flex -mt-10 justify-items-center">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/987527601276993556/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class=" cardAgenda mb-12 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/987527651843514488/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class=" cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/987532099470884914/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class=" cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/987532131515392011/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class="hidden sm:block md:block cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/988132026894929951/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class="hidden sm:block md:block cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/988132069198671942/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class="hidden md:block cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/988131956111859782/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

      <div class="hidden md:block cardAgenda mb-8 rounded-tr-3xl rounded-bl-3xl bg-claro-100  ">
        <div class="col-md-6 flex -mt-10">
          <img src="https://cdn.discordapp.com/attachments/986341389740691466/988132116908892220/unknown.png" alt="">
        </div>
        <div class="flex-col text-escuro-100">
          <p class="text-xs mx-2">Lorem ipsum sit a met is a dolor s/qouci.</p>
          <span class="mx-2 text-sm font-bold">R$ 500,00</span>
          <div class="flex justify-center">
            <button class="btnAgendar rounded-full text-xs text-claro-100">Agendar horário</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class=" text-claro-100 flex  justify-center pb-8">
    <a>
      <h1>
        Ver todos
      </h1>
    </a>
  </div>
</div>

<!-- fundadora -->

<div class=" py-12 bg-medio-100 w-full">
  <div class="flex flex-col sm:flex sm:flex-row-reverse sm:justify-around sm:items-center">

    <div class="col-md-6 flex flex-col text-center sm:w-64 sm:h-auto sm:text-left md:w-96 lg:w-96">
      <h1 class="text-escuro-100 text-3xl font-bold p-1 sm:p-0 sm:text-4xl lg:text-5xl">Carolina Silva</h1>
      <h2 class="text-escuro-100 text-lg font-medium pb-5 sm:text-xl lg:text-2xl">Fundadora</h2>
      <p class="text-claro-100 text-xs px-8 sm:px-0 sm:text-sm lg:text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <p class="text-claro-100 text-xs p-8 sm:px-0 sm:py-3 sm:text-sm lg:text-base">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-md-6">
      <div class="flex justify-center py-6">
        <img class="imgFundadora"
          src="https://cdn.discordapp.com/attachments/986341389740691466/987533878581411850/unknown.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- equipe -->

<div class=" bg-claro-100 p-7 w-full ">
  <div class=" text-center py-8">
    <h1 class="text-escuro-100 text-2xl font-medium py-7 italic sm:text-4xl lg:text-5xl">Equipe especializada <br> em
      cuidar de você!</h1>
  </div>
  <div class="flex flex-col sm:grid sm:grid-cols-2 ">
    <div class="col-md-12">

      <div class="container flex pl-2 sm:justify-center">
        <div class="h-24 w-52 rounded-tr-3xl bg-escuro-100 m-4 flex items-center justify-start md:w-60 md:h-32">
          <div class="-ml-9  md:-ml-16">
            <img class="w-[105px] md:w-[140px]"
              src="https://cdn.discordapp.com/attachments/986341389740691466/987429202221486080/unknown.png" alt="">
          </div>
          <div class="m-1 text-medio-100 text-center">
            <span class="text-base font-bold md:text-xl ">Juliana Pereira<br>
              <span class="text-sm font-medium md:text-base md:mb-1">Cabeleireira</span>
            </span>
            <p class="text-xs text-claro-100 ">Cabelos cacheados</p>
            <p class="hidden text-xs text-claro-100 md:block">Cabelos ondulados</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12  flex justify-end pr-2 sm:justify-center">
      <div class="">
        <div class="h-24 w-52 rounded-tl-3xl bg-medio-100 m-4 flex items-center justify-end md:w-60 md:h-32">
          <div class="m-1 text-escuro-100 text-center">
            <span class="text-base font-bold md:text-xl">Eduarda Rocha<br>
              <span class="text-sm font-medium md:text-base md:mb-1">Manicure</span>
            </span>
            <p class="text-xs text-claro-100">Especialista em cores</p>
            <p class="hidden text-xs text-claro-100 md:block">Especialista em tintura</p>
          </div>
          <div class="-mr-9  md:-mr-16">
            <img class="w-[105px] md:w-[140px]"
              src="https://cdn.discordapp.com/attachments/986341389740691466/987435610774057020/unknown.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 flex pl-2 sm:justify-center">
      <div class="">
        <div
          class="h-24 w-52 rounded-br-3xl bg-escuro-100 m-4 flex items-center justify-start sm:bg-medio-100 md:w-60 md:h-32">
          <div class="-ml-9  md:-ml-16">
            <img class="w-[105px] md:w-[140px]"
              src="https://cdn.discordapp.com/attachments/986341389740691466/987435646916370523/unknown.png" alt="">
          </div>
          <div class="m-1 text-medio-100 text-center sm:text-escuro-100">
            <span class="text-base font-bold md:text-xl">Mari Barbosa<br>
              <span class="text-sm font-medium md:text-base md:mb-1">Esteticista</span>
            </span>
            <p class="text-xs text-claro-100">Massagem corporal</p>
            <p class="hidden text-xs text-claro-100 md:block">Drenagem</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 flex justify-end pr-2 sm:justify-center ">
      <div class="">
        <div
          class="h-24 w-52 rounded-bl-3xl bg-medio-100 m-4 flex items-center justify-end sm:bg-escuro-100 md:w-60 md:h-32">
          <div class="m-1 text-escuro-100 text-center sm:text-medio-100 ">
            <span class="text-base font-bold md:text-xl">Laura Santos<br>
              <span class="text-sm font-medium md:text-base md:mb-1">Cabeleireira</span>
            </span>
            <p class="text-xs text-claro-100">Cabelos lisos</p>
            <p class="hidden text-xs text-claro-100 md:block">Cabelos curtos</p>
          </div>
          <div class="-mr-9 md:-mr-16">
            <img class="w-[105px] md:w-[140px]"
              src="https://cdn.discordapp.com/attachments/986341389740691466/987435680902840450/unknown.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center mt-14 mb-8">
    <button class="btn rounded-full text-sm text-claro-100">Agendar horário</button>
  </div>

</div>

<!-- contato -->

<div class=" bg-escuro-100 p-5 w-full">
  <div class=" flex-col justify-items-center pb-5">

    <div class="text-center italic font-normal text-claro-100">
      <h1 class="text-3xl md:text-4xl">Alguma dúvida?</h1>
      <span class="text-base md:text-lg">Entre em contato conosco</span>
    </div>
  </div>
  <div class="row flex justify-around mb-6 text-center text-sm text-claro-100  italic sm:justify-around md:mx-5">
    <a class="" href="mailto:igor.ox13@gmail.com" target="_blank">
      <img class="mb-1 w-16 h-16 mx-2 md:w-20 md:h-20"
        src="https://cdn.discordapp.com/attachments/986341389740691466/987920344671211540/unknown.png" alt="">
      Email
    </a>
    <a class="" href="https://www.linkedin.com/in/igorss4/" target="_blank">
      <img class="mb-1 w-16 h-16 mx-2 md:w-20 md:h-20"
        src="https://cdn.discordapp.com/attachments/986341389740691466/987920405211791442/unknown.png" alt="">
      Instagram
    </a>
    <a href="https://github.com/Igorss4" target="_blank">
      <img class="mb-1 w-16 h-16 mx-2 md:w-20 md:h-20"
        src="https://cdn.discordapp.com/attachments/986341389740691466/987920477743902770/unknown.png" alt="">
      WhatsApp
    </a>
  </div>
</div>

<!-- footer -->

<div class="w-full bg-medio-100 p-8 ">
  <div class="flex-col text-claro-100 text-center">
    <div class="flex justify-center mb-2">
      <img class="flex justify-center items-center imgFooter"
        src="https://cdn.discordapp.com/attachments/986341389740691466/986341402852081694/unknown.png" alt="">
    </div>
    <h1 class="text-2xl lg:text-3xl">Copyright - Ahair</h1>
    <p class="text-base lg:text-xl">Todos os direitos reservados</p>
  </div>
</div>